<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="~/dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/dist/css/demo.css">
    <link rel="stylesheet" href="~/dist/css/style.css">
    <link rel="stylesheet" href="~/dist/css/custom.css">
</head>
<body>
    <div id="app">
        <div class="main-wrapper">


            @*Nav Bar*@
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
                        <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
                    </ul>
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn" type="submit"><i class="ion ion-search"></i></button>
                    </div>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">View All</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content">

                            </div>
                        </div>
                    </li>
                    @Html.Action("_LoginPartial", "Account")
                </ul>
            </nav>
            @*Side Bar*@
            <div class="main-sidebar">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="@Url.Action("Index", "Home")">Bug Tracker</a>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.Action("_ProfilePartial", "Account")
                    }
                    <ul class="sidebar-menu">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="menu-header">Dashboard</li>
                            <li>
                                <a href=""><i class="ion ion-speedometer"></i><span>Dashboard</span></a>
                            </li>
                        }
                        <li class="menu-header">Components</li>
                        <li>
                            <a href="#" class="has-dropdown"><i class="ion ion-ios-albums-outline"></i><span>Demo Profiles</span></a>
                            <ul class="menu-dropdown">
                                <li><a href="@Url.Action("DemoAdmin", "Account")"><i class="ion ion-ios-circle-outline"></i> Admin</a></li>
                                <li><a href="@Url.Action("DemoUserManager", "Account")"><i class="ion ion-ios-circle-outline"></i> Project Manager</a></li>
                                <li><a href="@Url.Action("DemoDev", "Account")"><i class="ion ion-ios-circle-outline"></i> Developer</a></li>
                                <li><a href="@Url.Action("DemoSubmitter", "Account")"><i class="ion ion-ios-circle-outline"></i> Submitter</a></li>
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>Work</span></a>
                                <ul class="menu-dropdown">
                                    @if (User.IsInRole("Developer") || User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        <li><a href="@Url.Action("Index", "Projects")"><i class="ion ion-ios-circle-outline"></i> Projects</a></li>
                                    }
                                    <li><a href="@Url.Action("Index", "Tickets")"><i class="ion ion-ios-circle-outline"></i> Tickets</a></li>
                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                    {
                                        <li><a href="@Url.Action("ShowAll", "Projects")"><i class="ion ion-ios-circle-outline"></i> Show All Projects</a></li>
                                        <li><a href="@Url.Action("ShowAll", "Tickets")"><i class="ion ion-ios-circle-outline"></i> Show All Tickets</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="@Url.Action("ChangeRoles", "Account")"><i class="ion ion-settings"></i><span>Change Roles</span></a>
                            </li>
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                        {
                            <li>
                                <a href="@Url.Action("ManageUsers", "Projects")"><i class="ion ion-stats-bars"></i><span>Assign Projects</span></a>
                            </li>
                        }
                    </ul>
                </aside>
            </div>
            <div class="main-content">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                        Copyright © 2018 John Mahoney
                    </span>
                </div>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/dist/modules/popper.js"></script>
    <script src="~/dist/modules/tooltip.js"></script>
    <script src="~/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="~/dist/js/sa-functions.js"></script>
    <script src="~/dist/modules/chart.min.js"></script>
    <script src="~/dist/modules/summernote/summernote-lite.js"></script>
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                datasets: [{
                    label: 'Statistics',
                    data: [460, 458, 330, 502, 430, 610, 488],
                    borderWidth: 2,
                    backgroundColor: 'rgb(87,75,144)',
                    borderColor: 'rgb(87,75,144)',
                    borderWidth: 2.5,
                    pointBackgroundColor: '#ffffff',
                    pointRadius: 4
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stepSize: 150
                        }
                    }],
                    xAxes: [{
                        gridLines: {
                            display: false
                        }
                    }]
                },
            }
        });
    </script>
    <script src="~/dist/js/scripts.js"></script>
    <script src="~/dist/js/custom.js"></script>
    <script src="~/dist/js/demo.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
