@model IEnumerable<BugTracker.Models.Tickets>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assigned.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketPriority.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketStatus.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketType.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assigned.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Project.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketPriority.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketStatus.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketType.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
